* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #6699cc;
  --secoondary: #fff275;
  --tertiary: #ff3c38;
}

.author {
  font-family: "Roboto", sans-serif;
}

body::before {
  content: "";
  background: linear-gradient(160deg, var(--primary) 50%, white 0%);
  position: absolute;
  overflow: hidden;
  z-index: -1;
  transform-origin: 0 100%;
  width: 100%;
  height: 100%;
  max-height: 400px;
}

.portrait-contact {
  max-width: 50%;
  height: auto;
}

.link {
  list-style: none;
}

.introduction {
  text-align: center;
  z-index: 0;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  padding: 2rem 2rem;
  margin: 0 auto;
}

.portrait {
  max-width: 100%;
  height: auto;
  float: left;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: center;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

.text-holder {
  padding: 3rem;
}

.about {
  background-color: white;
  border: 1px solid black;
}

.image-holder {
  position: relative;
}

.author {
  color: black;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  font-size: 2rem;
  z-index: 1;
  transform: translateX(300%);
}

.icon {
  width: 2rem;
  height: 2rem;
  display: block;
}

.introduction .icon {
  width: 2.7rem;
  height: 2.7rem;
  display: block;
}

p {
  padding: 0.5rem 1rem;
  text-align: left;
  color: black;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main {
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
  max-width: 1900px;
  margin: 0 auto;
}

.project-name {
  color: black;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.project {
  background-color: var(--secoondary);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  gap: 1rem;
}

.project-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.screenshot {
  max-width: 13rem;
  min-height: 13rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  text-align: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact .links {
  align-self: center;
  margin-top: 1rem;
}

.call-to-action {
  padding: 3rem 0rem;
}

.call-to-action .icon {
  width: 3.5rem;
  height: 3.5rem;
}

@media (min-width: 1330px) {
  .about {
    padding: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
  }

  .contact {
    flex-direction: row;
  }

  .portrait-contact {
    max-width: 100%;
    height: auto;
  }

  .author {
    transform: none;
    translate: 0 1000%;
    color: white;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.021),
      rgba(0, 0, 0, 0.425) 50%
    );
  }
  .introduction .links {
    position: relative;
    transform: translateX(75%);
  }
  .text-holder {
    max-width: 1265px;
    padding: unset;
    padding-top: 2rem;
  }

  .portrait {
    max-width: 100%;
    height: auto;
    float: left;
    transform: translate(-2%, -2%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .portrait-contact {
    padding: 2rem;
  }

  .contact .links {
    align-self: flex-start;
    margin-left: 1rem;
  }
}

@media (max-width: 1329px) and (min-width: 801px) {
  .about {
    background-color: white;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .portrait {
    max-width: 70%;
    height: auto;
    float: left;
    transform: translate(-2%, 2%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .main {
    text-align: left;
    padding: 0 4rem;
  }

  .text-holder {
    max-width: 880px;
  }

  .image-holder {
    width: fit-content;
  }

  .introduction .links {
    display: none;
  }

  .contact .links {
    align-self: flex-start;
  }

  h2 {
    font-weight: 600;
    font-size: 2rem;
  }

  .introduction {
    padding: 3rem;
  }

  .text-holder {
    padding: 3rem;
  }

  .author {
    color: black;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    font-size: 2rem;
    z-index: 1;
    transform: translateX(200%);
  }

  .contact {
    flex-direction: row;
  }

  .portrait-contact {
    padding: 2rem;
  }

  .contact {
    padding: 4rem;
    text-align: left;
  }

  .contact p {
    padding: 0;
    line-height: 2rem;
    padding-right: 0.5rem;
  }

  .portrait-contact {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .about {
    background-color: unset;
    display: flex;
    flex-direction: column;
  }

  section.introduction::before {
    max-height: 601px;
  }

  .image-holder {
    width: fit-content;
    margin: 0 auto;
  }

  .portrait {
    max-width: 100%;
    height: auto;
    float: none;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: center;
  }

  .portrait-background {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-weight: 600;
    font-size: 2rem;
  }

  .text-holder {
    padding: 0rem;
  }

  .about {
    border: none;
    padding: 0;
  }

  .author {
    color: white;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    font-size: 2rem;
    z-index: 1;
    transform: none;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.425) 50%,
      rgba(255, 255, 255, 0.021)
    );
  }

  .portrait-contact {
    max-width: 100%;
    height: auto;
  }
}
